{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{asset('css/create.css')}}">
{% endblock %}

{% block sonata_head_title %}
    Crear Persona
{% endblock %}

{% block sonata_nav%}
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" title="Toggle Navigation">
        <span class="sr-only">Toggle Navigation</span>
        </a>
        <div class="navbar-left">
            <div class="hidden-xs">
                <ol class="nav navbar-top-links breadcrumb">
                    <li>
                        <a href={{path('sonata_admin_dashboard')}}>
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="active">
                        <span style="display: inline-block;">Persona</span>
                    </li>
                </ol>
            </div>
        </div>
    </nav>
{% endblock sonata_nav %}

{% block sonata_admin_content %}
    {{form(form)}}
    {% if results is defined %}
    <div class="results box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-striped table-hover sonata-ba-list">
                <thead>
                    <tr>
                        <th class="sonata-ba-list-field-header-text">Nombre</th>
                        <th class="sonata-ba-list-field-header-text">Legajo</th>
                        <th class="sonata-ba-list-field-header-text">Acción</th>
                        <th class="sonata-ba-list-field-header-text">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in results %}
                        <tr>
                            <td class="sonata-ba-list-field sonata-ba-list-field-text">{{data.nombre}}</td>
                            <td class="sonata-ba-list-field sonata-ba-list-field-text">{{data.legajo}}</td>
                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                <div class="btn-group">
                                    <button target='{{data|json_encode|raw}}' class="addPersona btn btn-sm btn-default">Agregar</button>
                                    <a style="visibility:hidden" class="btn btn-sm btn-default" href=''>Ver</a>
                                </div>
                            </td>
                            <td class="estado sonata-ba-list-field sonata-ba-list-field-text">
                                <div class="msg" style="display:none">
                                    Agregado <i class="fa fa-check" aria-hidden="true" style="color: #3c8dbc;"></i>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
{{parent()}}

<script type="text/javascript">

$(document).ready(function(){
    $('.addPersona').off().on('click', function(){
        let button = $(this);
        let datos = JSON.parse($(this).attr('target'));
        let route = '{{ path('api_personas_post_collection') }}';

        let estado = button.parent().parent().siblings('.estado');

        //let content = $('#result' + target);
        console.log(datos.legajo);
        console.log($(this).attr('target'))
        //{"nombre":"Carlos H\u00e9ctor Daniel","legajo":2011}

        let postData = '{"idMapuche": ' + datos.legajo.toString() + '}';

        console.log(datos);
        $.ajax({
          method: "POST",
          url: route,
          data: postData,
          contentType: "application/ld+json",
        })
            .done(function(data) {
                let dataArray = Object.values(data);
                let apiUrl = dataArray[1];
                let id = apiUrl.split("/")[3];
                let verButton = button.siblings("a");

                let url = '{{path("admin_app_persona_show", { 'id': 'personaId' })}}';
                url = url.replace("personaId", id);
                estado.children().css('display', 'inline-block');

                verButton.css('visibility', 'visible');
                verButton.attr('href', url);
            });


    });
});



</script>

{% endblock %}
