{% extends '@SonataAdmin/standard_layout.html.twig' %}


{% import "sonata_macros.html.twig" as macros %}



{% set proyectos = "" %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('/css/persona.css') }}">
    {{ parent() }}

{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}


    <script src={{ asset('js/VistaPersona.js') }}></script>


{% endblock javascripts %}

{% block sonata_head_title %}
    Persona
{% endblock %}


{% block sonata_nav%}
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" title="Toggle Navigation">
        <span class="sr-only">Toggle Navigation</span>
        </a>
        <div class="navbar-left">
            <div class="hidden-xs">
                <ol class="nav navbar-top-links breadcrumb">
                    <li>
                        <a href={{path('sonata_admin_dashboard')}}>
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="active">
                        <span style="display: inline-block;">Persona</span>
                    </li>
                </ol>
            </div>
        </div>
    </nav>
{% endblock sonata_nav %}



{% block sonata_admin_content %}
    <div class="persona-container">
        <div class="persona-header">
            <h3>Actividades</h3>
        </div>
        <div class="actividades">
            {% if actividades|length < 1 %}
                <p>No hay actividades para mostrar</p>
            {% endif %}
            {% for actividad in actividades %}
                <div class="actividad">
                    <div class="aheader">
                        {% if actividad.isActive() %}
                            <i class="fa fa-briefcase" style="color: #3c8dbc;;"></i>
                            {% else %}
                                <i class="fa fa-briefcase" style="color: lightgrey;"></i>
                        {% endif %}

                        <h5>{{fieldDesc[loop.index0]}}</h5>
                        <button target = "a{{loop.index0}}" class="btn btn-sm btn-link slide">Mostrar</button>
                        {% set routeData = actividad.getRoute() %}
                        {% if routeData|length > 2 %} {# Si es mayor a 2 significa que tiene una ruta anidada y se necesita el id del padre #}
                        <a class="btn btn-sm" href="{{path(routeData.route ~ "edit", {id: routeData.id, childId: routeData.childId})}}"><i class="fa fa-pencil"></i> Editar</a>
                        <a class="btn btn-sm" href="{{path(routeData.route ~ "show", {id: routeData.id, childId: routeData.childId})}}"><i class="fa fa-eye"></i> Ver</a>
                            {% else %}
                                <a class="btn btn-sm" href="{{path(routeData.route ~ "edit", {id: routeData.id})}}"><i class="fa fa-pencil"></i> Editar</a>
                                <a class="btn btn-sm" href="{{path(routeData.route ~ "show", {id: routeData.id})}}"><i class="fa fa-eye"></i> Ver</a>
                        {% endif %}


                    </div>
                    <div id="a{{loop.index0}}" class="acontent" style="display:none;">
                        <div class="data-box adata">

                            <div class="datos">


                                {% if actividad.getDatos() is iterable %}
                                    {% set datos = actividad.getDatos() %}
                                    {% for key, data in datos %}
                                        <strong>{{key |capitalize}}: </strong>{{data}}<br>
                                    {% endfor %}
                                {% endif %}


                                {% for key, fecha in actividad.getFecha() %}
                                    <strong>{{key |capitalize}}: </strong> {{fecha}}<br>
                                {% endfor %}
                                {% if actividad.isActive() %}
                                    <strong>Estado: </strong> Activa
                                {% else %}
                                    <strong>Estado: </strong> Inactiva
                                {% endif %}

                            </div>
                            {% if fieldDesc[loop.index0] == "Coordinador de Materia" %}
                                <div class="icon"><i style="color: #3c8dbc" class="fa fa-book fa-5" aria-hidden="true"></i></div>
                            {% elseif fieldDesc[loop.index0] == "Miembro de Proyecto"%}
                                <div class="icon"><i style="color: #3c8dbc" class="fa fa-users fa-5" aria-hidden="true"></i></div>
                            {% elseif fieldDesc[loop.index0] == "Director de Instituto" %}
                                <div class="icon"><i style="color: #3c8dbc" class="fa fa-university fa-5" aria-hidden="true"></i></div>
                            {% elseif fieldDesc[loop.index0] == "Director de Carrera" %}
                                <div class="icon"><i style="color: #3c8dbc" class="fa fa-mortar-board fa-5" aria-hidden="true"></i></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
            <div class="datos-personales">
                <div class="data-box pdata">
                    <h3>Datos Personales</h3>
                    <p class="data-text"><strong>Nombre: </strong>{{object.nombre}}</p>
                    <p class="data-text"><strong>Apellido: </strong>{{object.apellido}}</p>
                </div>
            </div>
    </div>
{% endblock %}
